html {
  font-size: 62.5%;
}

* {
  font-family: $sv-font-family-primary;
}

body{
  background-color: $sv-color-background;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 5.0rem;
  line-height: 6.0rem;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 3.0rem;
  line-height: 3.5rem;
}

h3{
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.0rem;
}

h4{
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem
}

h5{
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

p{
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.0rem;
}

input{
  width: 100%;
  padding: 12px;
  border: 1px solid #0070C2;
  background-color: $sv-color-background-white-blue;

  &::placeholder{
    color: #858585;
    font-size: 1.4rem;
  }
}

select{
  background: url(../images/global/arrow-down.svg) no-repeat 95% center;
}

