.sv-accordion{
    padding-top: 70px;

    .sv-form{
        .container:first-child{
            box-shadow: none;
        }
    }

    .accordion-button{
        padding-left: 90px;
        padding-right: 90px;
        font-family: $sv-font-family-primary-bold;
        color: $sv-color-primary;
        font-size: 2.0rem;

        &:after{
            background-image: url(../images/global/plus-grey.svg);
        }

        &:not(.collapsed)::after{
            background-image: url(../images/global/substract-blue.svg);
            transform: initial;

        }

        img{
            padding-right: 10px;
        }
    }
}


@media screen and (max-width: $md) {
    .sv-accordion{
        .accordion-button{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}