.sv-bill {
  margin-bottom: 34px;

  .container:first-child {
    box-shadow: $sv-shadow-light;
    padding: 30px;
    background-color: $sv-color-white;
  }

  h3 {
    font-size: 2rem;
    font-family: $sv-font-family-primary-bold;
  }

  h3.title-big {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
    font-family: $sv-font-family-primary;
    color: $sv-color-text-grey;
  }

  .state--payed {
    color: $sv-color-secondary;
    display: inline-block;
    font-size: 1.4rem;
  }

  &--detail {
    &-menu {
      .item {
        h3 {
          font-size: 2rem;
          font-family: $sv-font-family-primary-bold;
        }

        h4 {
          font-size: 1.8rem;
        }

        padding-bottom: 25px;
        margin-bottom: 30px;

        border-bottom: 1px solid $sv-color-text-grey;
      }
    }

    &-info {
      h3 {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-family: $sv-font-family-primary-bold;
        color: $sv-color-text-grey;
      }
    }

    .charges {
      .table-responsive {
        border: 2px solid $sv-color-energy;
      }

      table {
        border-collapse: collapse;
        tbody,
        td,
        tfoot,
        th,
        thead,
        tr {
          border-color: initial;
          border-style: hidden;
          border-width: 0;
        }

        thead {
          border-bottom: 2px solid $sv-color-energy;
        }
        tr {
          .charges-title {
            color: $sv-color-white;
            font-size: 1.6rem;

            border: 2px solid $sv-color-energy;
            background-color: $sv-color-energy;
            padding-top: 10px;
            padding-bottom: 10px;
          }

          .spacer {
            background-color: $sv-color-energy;
            border: 2px solid $sv-color-energy;
          }

          .charges-total {
            font-size: 1.6rem;
            font-family: $sv-font-family-primary-bold;
            border: 2px solid $sv-color-energy;
            padding-top: 10px;
            padding-bottom: 10px;
            vertical-align: middle;
          }

          th {
            border-color: initial;
            border-style: initial;
            border-width: initial;
          }
        }
      }

      tbody {
        border: 2px solid black;
        border-collapse: separate;
        border-spacing: 4px;

        td {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media screen and (max-width: $vga) {
  .sv-bill{
    .btn-gestion{
      min-width: 244px;
    }
  }
}


@media screen and (max-width: $md) {
  .sv-bill{
    &--detail {
        .charges{
          table{
              tr{
                .charges-title{
                  font-size: 1.2rem;
                }
                .charges-total{
                  font-size: 1.2rem;
                }
              }
              td{
                font-size: 1.2rem;
              }
          }
        }
   
    }
    
  }
}
