.sv-button{
    border: 0px;
    font-size: 1.6rem;
    font-family: $sv-font-family-primary-bold;
    padding: 11px;
    text-align: center;
    text-decoration: none;
    min-width: 150px;
    border-radius: 0px;
    transition: 0.3s;


    &--primary{
        background-color: $sv-color-primary;
        color: $sv-color-white;
        padding-top: 13px;
        padding-bottom: 13px;

        &:hover{
            background-color: $sv-color-primary-light;
        }
    }

    &--outline{
        background: $sv-color-white;
        color: $sv-color-primary;
        border: 2px solid $sv-color-primary;
        &:hover{
            color: $sv-color-primary-light;
            border: 2px solid $sv-color-primary-light;
        }
    }

    &--transparent{
        background: transparent;
        color: $sv-color-white;
        border: 2px solid $sv-color-white;
        &:hover{
            color: $sv-color-primary-light;
            border: 2px solid $sv-color-primary-light;
        }
    }

    &--link{
        color: $sv-color-primary;
        text-decoration: underline;
    }

    &--prev{
        background-color: $sv-color-text-grey-lightest;
        font-family: $sv-font-family-primary;
        color: white;
        font-size: 1.4rem;
        min-width: 0;
        padding-top: 6px;
        padding-bottom: 7px;
        padding-left: 8px;
        padding-right: 8px;
    }

    &--next{
        background-color: $sv-color-primary-light;
        font-family: $sv-font-family-primary;
        color: white;
        font-size: 1.4rem;
        min-width: 0;
        padding-top: 6px;
        padding-bottom: 7px;
        padding-left: 8px;
        padding-right: 8px;
    }
}