.sv-card{

    box-shadow: 0px 4px 4px rgba(177, 180, 182, 0.5);
    height: 100%;
    
    &-head{
        overflow: hidden;
        height: 319px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-body{
        padding-top: 50px;
        padding-left: 52px;
        padding-right: 52px;
        padding-bottom: 50px;

        h5{
            color: $sv-color-text-links;
            padding-bottom: 24px;
        }

        h4{
            color: $sv-color-black;
            padding-bottom: 24px;
        }

        a{
            color: $sv-color-primary;
            font-size: 1.4rem;
            font-family: $sv-font-family-primary-bold;
            text-transform: uppercase;
            text-decoration: none;

            img{
                vertical-align: revert;
                padding-left: 10px;
            }
        }
    }   
}

// Tablets

@media screen and (max-width: $vga) {
    .sv-card{ 
       &-body{
           padding: 20px;
       }
    }
}


// Mobile

@media screen and (max-width: $md) {
    .sv-card{ 
       &-body{
           padding: 30px;
       }
    }
}