.sv-document{
    .item{
        text-align: center;
        height: 100%;
        padding-bottom: 40px;
    }

    h4{
        padding-top: 15px;
        color: $sv-color-text-grey;
        font-family: $sv-font-family-primary-bold;
        font-size: 1.8rem;
    }

    h5{
        color: $sv-color-text-links;
        font-family: $sv-font-family-primary;
        font-size: 1.4rem;
        padding-bottom: 10px;
    }

    a{
        color: $sv-color-primary;
        font-family: $sv-font-family-primary-bold;
        font-size: 1.4rem;
    }
}