.sv-error{
    height: 100vh;

   

    h1{
        font-size: 5.0rem;
        font-family: $sv-font-family-primary-bold;
        line-height: 6.0rem;
        padding-bottom: 11px;
        color: $sv-color-primary;
    }

    h3{
        font-size: 2.0rem;
        font-family: $sv-font-family-primary-bold;
        line-height: 2.4rem;
        padding-bottom: 11px;
        color: $sv-color-primary;
        text-transform: uppercase;

    }

    h4{
        font-size: 1.8rem;
        font-family: $sv-font-family-primary;
        line-height: 2.1rem;
        padding-bottom: 22px;
    }
    
    &--404{

        .container:first-child{
            box-shadow: $sv-shadow-light;
            padding: 30px;
            background-image: url(../images/error/400.png);
            background-color: $sv-color-white;
            background-size: 75%;
            background-repeat: no-repeat;
            background-position: center bottom;
            height: 60vh;
        }
       
    }

    &--500{
        .container:first-child{
            box-shadow: $sv-shadow-light;
            padding: 30px;
            background-image: url(../images/error/500.png);
            background-size: 75%;
            background-color: $sv-color-white;
            background-repeat: no-repeat;
            background-position: center bottom;
            height: 60vh;
        }
    }

    &--involuntary{
        .container:first-child{
            box-shadow: $sv-shadow-light;
            padding: 30px;
            background-image: url(../images/error/involuntary.png);
            background-color: $sv-color-white;
            background-size: 75%;
            background-repeat: no-repeat;
            background-position: center bottom;
            height: 60vh;
        }
    }
}

// Mobile

@media screen and (max-width: $md) {
    .sv-error{ 
      
    }
}