.sv-form{
    .container:first-child{
        box-shadow: $sv-shadow-light;
        background-color: $sv-color-white;
    }

    margin-bottom: 20px;

    h2{
        color: $sv-color-primary;
        padding-bottom: 15px;
    }
    h4{
        padding-bottom: 15px;
    }

    h5{
        font-size: 1.4rem;
        color: $sv-color-primary;
        padding-top: 14px;
    }
    &-item{
        margin-bottom: 31px;

        label{
            font-size: 1.4rem;
            font-family: $sv-font-family-primary-bold;
            margin-bottom: 5px;
        }
        input{
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 21px;
            padding-right: 21px;
            font-size: 1.4rem;
            color: $sv-color-text-links;
            border-radius: 0;
            border: 1px solid $sv-color-primary;
        }
        select{
            height: 47px;
            border-radius: 0px;
            font-size: 1.3rem;
            color: $sv-color-text-links;
            border: 1px solid $sv-color-primary;
            padding-right: 30px;
        }
        textarea{
            border-radius: 0px;
            font-size: 1.4rem;
            color: $sv-color-text-links;
            border: 1px solid $sv-color-primary;

        }

        .form-control:disabled{
            background: $sv-color-white;
            border: 1px solid $sv-color-form-border;
        }

        &--filter-btn{
            margin-top: 24px;
        }

    }

    &--filter{

        h3{
            font-size: 2.5rem;
            text-transform: uppercase;
            font-family: $sv-font-family-primary-bold;
            margin-bottom: 20px;
        }
        select{
            border: 1px solid $sv-color-primary;
        }

        
    }

    &--search{
        .container:first-child{
            box-shadow: none;
        }
    }

    .sv-company-selected{
        min-height: 90px;
        box-shadow: $sv-shadow-light;
        padding: 30px;

        .item{
            display: inline-block;
            .company{
                font-size: 1.4rem;
                color: $sv-color-text-grey;
                text-transform: uppercase;
                padding-right: 39px;
                padding-bottom: 0px;
                img{
                    cursor: pointer;
                }
            }
        }
    }

    .sv-company-select{
        padding-top: 32px;
        padding-left: 20px;

        .form-check{
            display: -webkit-box;
            padding-bottom: 26px;
        }
    
        .form-check-input{
            border: 1px solid $sv-color-primary;
            height: 23px;
            width: 23px;
            border-radius: 0px;
            padding: 0;
        }
    
        .form-check-label{
            font-size: 1.4rem;
            line-height: 2.1rem;
            color: $sv-color-text-grey;
            text-transform: uppercase;
            padding-left: 11px;
        }
    
        .sv-plants{
            max-height: 274px;
            overflow-y: scroll;
        }
    }
   
}