.sv-graph{
    &-info{
        padding-left: 40px;
        padding-top: 16px;
        padding-bottom: 16px;

        .secondary{
            color: $sv-color-secondary;
            font-family: $sv-font-family-primary-bold;
            font-size: 1.6rem;
        }

        .grey{
            color: $sv-color-text-grey-lightest;
            font-size: 1.6rem;
        }
    }

    &-content{
        img{
            width: 100%;
        }
    }

    &--consume{
      
            box-shadow: $sv-shadow-light;
            padding: 20px;
            background-color: $sv-color-white;
        

        p{
            font-family: $sv-font-family-primary-bold;
            font-size: 1.8rem;
            color: $sv-color-text-grey;

            .date{
                padding-left: 10px;
                font-size: 1.6rem;
                font-weight: $sv-font-family-primary;
                color: $sv-color-text-links;
            }
        }

        h4{
            color: $sv-color-primary;
            font-size: 1.8rem;

        }

        &-data{
            box-shadow: $sv-shadow-light;
            padding: 20px;
            background-color: $sv-color-white;

            h4{
                color: $sv-color-primary;
                font-size: 1.8rem;
            }

            .table{
                tbody, td, tfoot, th, thead, tr {
                    border-color: inherit;
                    border-style: unset;
                    border-width: 0;
                }

                thead{
                    tr{
                        th{
                            color: $sv-color-primary;
                            font-size: 1.4rem;
                            font-family: $sv-font-family-primary-bold;
                            text-transform: uppercase;
                        }
                    }
                }

                tbody{
                    tr{
                        td{
                            color: $sv-color-text-links;
                            font-size: 1.4rem;
                            font-family: $sv-font-family-primary;
                        }

                        td.blue{
                            color: $sv-color-primary;
                        }
                    }
                }
            }

            .first-table{
                border-right: 2px solid $sv-color-text-links;
                padding-right: 0px;
            }

            .last-table{
                padding-left: 20px;
            }

            .simbology{
                .blue-square{
                    height: 17px;
                    width: 17px;
                    display: inline-block;
                    background-color: $sv-color-primary;
                    padding-right: 10px;
                    vertical-align: sub;
                }

                p{
                    font-size: 1.5rem;
                    color: $sv-color-text-grey;
                    display: inline-block;
                }
            }
        }



    }

    &--simbology{
        .item{
            display: inline-block;
            padding-right: 10px;
            .circle-orange{
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background-color: $sv-color-terciary;
                display: inline-block;
            }

            .circle-green{
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background-color: $sv-color-graph-green;
                display: inline-block;
            }

            p{
                color: $sv-color-primary;
                display: inline-block;

            }
        }
    }

  
}

@media screen and (max-width: $vga) {
    .sv-graph{
        &-info{
            padding-left: 25px;
            padding-top: 14px;
        }
        &--consume{
            &-data{
                .table{
                    thead tr th{
                        font-size: 1rem;
                    }
                    tbody tr td {
                        font-size: 1rem;
                    }
                }
                .simbology p{
                    font-size: 1.2rem;
                }
            }
        }
    }
}

// Mobile

@media screen and (max-width: $md) {
    .sv-graph{

        &-info{
            padding-left: 35px;
        }

        &--consume{
            &-data{
                .first-table{
                    border-right: none;
                    padding-right: initial;
                    text-align: center;
                }
    
                .last-table{
                    padding-left: initial;
                    text-align: center;

                } 
            }
        }
    }
}