.sv-list{
    padding-right: 52px;
    &-item{
        &:first-child{
            h4{
                font-family: $sv-font-family-primary-bold;
                color: $sv-color-primary;
                font-size: 2.0rem;
                line-height: 2.4rem;
            }
        }

        h4{
            font-family: $sv-font-family-primary-bold;
            color: $sv-color-text-grey;
            font-size: 2.0rem;
            line-height: 2.4rem;
            padding-bottom: 20px;

           img{
               vertical-align: initial;
           }
        }

        p{
            margin-bottom: 37px;
        }

        border-bottom: 1px solid $sv-color-text-grey;
        margin-bottom: 37px;

    }
}

// Mobile

@media screen and (max-width: $md) {
    .sv-list{ 
        padding: initial;
    }
}