.sv-modal{


    .modal-header{
        background-color: $sv-color-primary;
        color: white;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 30px;

        .btn-close{
            background: transparent url('../images/global/x.svg') center/2em auto no-repeat;
        }
    }

    .modal-body{
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 20px;
        
        h2{
            font-size: 3rem;
            line-height: 3.5rem;
            color: $sv-color-primary;
        }

        h5{
            font-size: 1.4rem;
            line-height: 1.7rem;
            color: $sv-color-text-links;
        }

        .form-check{
            display: -webkit-box;
            padding-bottom: 17px;
        }

        .form-check-input{
            border: 1px solid $sv-color-primary;
            height: 23px;
            width: 23px;
            border-radius: 0px;
            padding: 0;
        }

        .form-check-label{
            font-size: 1.8rem;
            line-height: 2.1rem;
            color: $sv-color-text-grey;
            padding-left: 11px;
        }

        .sv-plants{
            max-height: 180px;
            overflow-y: scroll;
        }
    }

    .modal-footer{
        padding-bottom: 38px;
        display: block;
        border-top: initial;
    }

    &--user{
        h4{
            font-family: $sv-font-family-primary-bold;
        }

        p{
            padding-bottom: 18px;
            word-break: break-word;
        }
    }
}