.sv-solutions{
    .sv-card{
        h4{
            font-family: $sv-font-family-primary-bold;
        }

        &-head{
            height: 240px;
        }

        &-body{
            padding-left: 28px;
            padding-right: 28px;
        }
    }
}

.sv-cobranding{
    .cobranding{
        width: 75%;
    }
}

// Mobile

@media screen and (max-width: $md) {
    .sv-cobranding{
        .cobranding{
            width: 100%;
        }
    }
}