.sv-splide{
    h2{
        font-size: 2.5rem;
        text-transform: uppercase;
        font-family: $sv-font-family-primary-bold;
        margin-bottom: 20px;
    }

    h2.sv-title{
        font-size: 3.0rem;
        line-height: 3.5rem;
        color: $sv-color-primary;
        text-transform: initial;
        font-family: $sv-font-family-primary;
        padding-bottom: 95px;
    }

    &-tutorial{
        h3{
            text-transform: uppercase;
            font-family: $sv-font-family-primary-bold;
            padding-bottom: 26px;
        }

        p{
            padding-bottom: 26px;
        }

        .splide__arrows{
            position: absolute;
            right: 0;
        }

        .splide__arrow{
            &--prev{
                left: -11em;
                background-color: transparent;
                img{
                    transform: rotate(180deg);
                }
            }

            &--next{
                background-color: transparent;

                right: 2em;
            }
        }
    }

    &-news{
        .splide__slide{
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .splide__arrows{
            position: absolute;
            right: 0;
            top: -32px;
        }

        .splide__arrow{
            &--prev{
                left: -11em;
                background-color: transparent;

                img{
                    transform: rotate(180deg);
                }
            }

            &--next{
                background-color: transparent;

                right: 2em;
            }
        }
    }

    &-show{
        font-family: $sv-font-family-primary-bold;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $sv-color-text-links-light;
    }

    .splide__pagination{
        bottom: initial;
    }

    .splide__pagination__page{
        height: 12px;
        width: 12px;
        margin-right: 11px;
        background-color: #B0C0C9;
    }

    .splide__pagination__page.is-active{
        background-color: #B0C0C9;
        transform: initial;
        border-radius: 6px;
        height: 12px;
        width: 60px;

    }
}

// Mobile

@media screen and (max-width: $md) {
    .sv-splide{
        &-tutorial{
            .splide__arrow{
                &--prev{
                    left: -8em;

                    img{
                        height: 30px;
                    }
                }
    
                &--next{
                    img{
                        height: 30px;
                    }
                }
            }
        }

        &-news{
            .splide__arrow{
                &--prev{
                    left: -8em;
                    img{
                        height: 30px;
                    }
                }
    
                &--next{
                    img{
                        height: 30px;
                    }
                }
            }
        }
    }
}