.sv-table{
    tbody, td, tfoot, th, thead, tr {
        border-color: initial;
        border-style: hidden;
        border-width: 0;
       
      }
      
    table{
        thead, tr{
            background-color: $sv-color-white;
        }

        .spacer{
            padding-bottom: 20px;
            background-color: transparent;
            box-shadow: none;
        }
    }

    thead{
        height: 66px;
        box-shadow: 0px 1px 10px rgba(177, 180, 182, 0.5);

        th{
            font-size: 1.4rem;
            line-height: 1.7rem;
            font-family: $sv-font-family-primary-bold;
            padding-top: 12px;
            padding-bottom: 12px;
          
            vertical-align: middle;

            &:first-child{
                padding-left: 20px;
            }
        }

       
    }

    tbody{
        td{
            font-size: 1.4rem;
            line-height: 1.7rem;
            padding-top: 8px;
            padding-bottom: 8px;
            color: $sv-color-text-links;
            vertical-align: middle;

           
        }

        tr{
            box-shadow: 0px 1px 10px rgba(177, 180, 182, 0.5);
            td:first-child{
                padding-left: 20px;
            }
        }

        .state{
            &--paid{
                color: $sv-color-secondary;
            }
    
            &--pendent{
                color: $sv-color-terciary;
            }
    
            &--expired{
                color: $sv-color-expired;
            }
        }

        .total{
            color: $sv-color-primary;
            font-family: $sv-font-family-primary-bold;
        }

        .sv-button--primary, .sv-button--outline{
            min-width: initial;
            width: 80px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 1.4rem;
            font-family: $sv-font-family-primary;
        }

        .form-check-input{
            border: 1px solid $sv-color-primary;
            height: 16px;
            width: 16px;
            border-radius: 0px;
            padding: 0;
        }

      
    }

    &--pagination{
        button:first-child{
            margin-right: 20px;
            margin-bottom: 4px;
        }

        button:last-child{
            margin-left: 20px;
            margin-bottom: 4px;
        }

        .current-page, .of, .total-page{
            font-size: 1.4rem;
            color: $sv-color-text-pagination;
        }

        .current-page{
            padding-top: 4px;
            padding-left: 10px;
            padding-right: 12px;
            padding-bottom: 8px;
            border: 1px solid $sv-color-primary-light;
        }

        .of{
            padding-right: 10px;
            padding-left: 10px;
        }
    }


    &--bill{
       
        .container:first-child{
            box-shadow: $sv-shadow-light;
            padding: 30px;
            background-color: $sv-color-white;
        }

        thead, tbody, tr{
            box-shadow: none !important;
        }
    }

    .icon{
        position: relative;
        display: inline-block;
        margin-right: 16px;

        .icon-user{
            width: 18px;
            display: inline-block;
            filter: opacity(0.5);

            &--edit{
                    height: 16px;
             
            }

            &--delete{
                    width: 16px;
               
            }
        }
    
        .notification{
            position: absolute;
            top: -4px;
            right: -10px;
            background-color: $sv-color-secondary;
            border: 1px solid $sv-color-white;
            width: 16px;
            height: 16px;
            border-radius: 50%;

            .number{
                font-size: 11px;
                vertical-align: middle;
                color: $sv-color-white;
                line-height: normal;
            }
        }
    }

    .table--users{
        .email{
            min-width: 200px;
        }

        .profile{
            min-width: 180px;
        }

        .name{
            min-width: 120px;
        }

        .charge{
            min-width: 100px;
        }

        .phone{
            min-width: 120px;
        }

        .icons{
            min-width: 180px;
        }

        .buttons{
            min-width: 180px;
        }
        
    }


    
}