.sv-text {
  &--blue {
    color: $sv-color-primary;
  }

  &--green {
    color: $sv-color-secondary;
  }

  &--black {
    color: $sv-color-text-grey;
  }

  &--energy {
    color: $sv-color-energy;
  }

  &--power {
    color: $sv-color-power;
  }

  &--aditional {
    color: $sv-color-aditional;
  }

  &--iva {
    color: $sv-color-iva;
  }

  &--big {
    font-size: 2.5rem;
  }

  &--link{
    text-decoration: none;
    color: $sv-color-primary;
    font-family: $sv-font-family-primary-bold;
  }

  &--title-black{
    color: $sv-color-text-grey;
    font-family: $sv-font-family-primary-bold;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
}
