.tooltip-inner {
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 0px;
}

.tooltip {
  padding: 0px;
}

.sv-tooltip {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $sv-color-white;
  border-radius: 3px;

  h4 {
    color: #15596b;
    font-size: 1.1rem;
    margin: 0;
    line-height: initial;
  }

  h3 {
    font-family: $sv-font-family-primary-bold;
    font-size: 1.5rem;
    color: #26869f;
    margin: 0;
    line-height: initial;
  }

  .tooltip-arrow {
    display: none;
  }

  &--normal {
    padding: 6px;
    border-radius: 3px;
  }

  &--green {
    padding: 6px;
    border-radius: 3px;

    h3 {
      color: #2cb582;
    }
  }

  &--comparatives {
    background-color: #6bc5a2;
    padding: 6px;
    border-radius: 3px;

    h3,
    h4 {
      color: $sv-color-white;
    }
  }
}
