@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-lfi/Montserrat-Light.otf) format("opentype");
}

@font-face {
  font-family: MontserratBold;
  src: url(../fonts/Montserrat-lfi/Montserrat-Bold.otf) format("opentype");
}
