.sv-comparatives{
    .item{
        padding-top: 36px;
        padding-bottom: 26px;
        padding-left: 36px;
        padding-right: 36px;
        box-shadow: $sv-shadow-light;
        background-color: $sv-color-white;
        height: 100%;

        h4{
            font-family: $sv-font-family-primary-bold;
            color: $sv-color-primary;
            font-size: 1.8rem;
        }

        p{
            font-size: 1.6rem;
        }

        button{
            border: none;
            box-shadow: none;
            background-color: transparent;
        }

        .graph{
            height: 200px;
        }

        &--backside{
            background-color: $sv-color-primary;
           
            h4{
                color: $sv-color-white;
            } 

            .table{
                padding-top: 76px;


                tr{
                    th{
                       color: $sv-color-white;
                       vertical-align: middle;
                       font-size: 1.6rem;
                       font-family: $sv-font-family-primary;
                       font-weight: 100;

                       .bold{
                            font-size: 1.3rem;
                           font-family: $sv-font-family-primary-bold;
                       }
                    }

                    td{
                        color: $sv-color-white;
                        text-align: center;
                        padding-top: 14px;
                        padding-bottom: 14px;
                    }

                    .yellow{
                        color: $sv-color-terciary-light;
                    }

                    .green{
                        color: $sv-color-secondary;
                    }
                }

                thead{
                    border-style: solid !important;
                }
            }
        }

        &--cumulative{
            h2{
               font-size:  2.5rem;
               text-transform: uppercase;
               font-weight: 400;
               color: $sv-color-primary;
            }
        }
        
    }

    .item-left{
        padding-right: 0px;
    }
    .item-right{
        padding-left: 0;

        h3{
            font-size: 3.0rem;
            color: $sv-color-white;
            padding-bottom: 40px;
        }

        .sv-button--transparent{
            border: 2px solid $sv-color-white;
        }
    }

    
    
}