.sv-dashboard{
    padding-top: 54px;

    &-item{
        background: $sv-color-white;
        box-shadow: $sv-shadow;
        margin-bottom: 24px;

        h4{
            color: $sv-color-primary;
            font-family: $sv-font-family-primary-bold;
            padding-top: 10px;
        }

        h3{
            color: $sv-color-secondary;
            padding-bottom: 20px;
        }

        h5{
            font-family: $sv-font-family-primary-bold;
        }

        &--small{
            padding-left: 41px;
            padding-right: 50px;
            padding-top: 10px;
            padding-bottom: 10px;

            &:last-child{
                
                padding-bottom: 45px;
                margin-bottom: 0px;

            }
        }

        .date{
            color: $sv-color-date;
            font-weight: 400;
        }

        .result{
            font-family: $sv-font-family-primary;
        }
    }

    .icon-blue{
        width: 34px;
    }
}

@media screen and (max-width: $vga) {
    .sv-dashboard{
        &-item{
            &--small{
                padding-left: 22px;
                padding-right: 40px;

                .sv-button{
                    font-size: 1.2rem;
                    min-width: 135px;
                }

                &:last-child{
                    padding-bottom: 14px;
                }

                h4{
                    font-size: 1.1rem;
                } 
    
                h5{
                    font-size: 1.0rem;
                }
            }   
          
        }
    }
}

@media screen and (max-width: $sm) {
    .sv-dashboard{
        &-item{
            &--small{
                padding-left: 22px;
                padding-right: 40px;

                .sv-button{
                    font-size: 1.6rem;
                    min-width: 135px;
                }

                &:last-child{
                    padding-bottom: 14px;
                }

                h4{
                    font-size: 1.8rem;
                } 
    
                h5{
                    font-size: 1.4rem;
                }
            }   
          
        }
    }
}