.sv-tip{
    padding-top: 133px;
    padding-bottom: 133px;

    h2{
        font-size: 2.5rem;
        text-transform: uppercase;
        font-family: $sv-font-family-primary-bold;
        margin-bottom: 20px;
    }

    .col-md-3{
        margin-bottom: 20px;
    }

    .item{
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 47px;
        padding-bottom: 28px;
        box-shadow: $sv-shadow;
        margin-bottom: 23px;
        height: 100%;
        background-color: $sv-color-white;

        img{
            margin-bottom: 40px;
        }

        p{
            margin-bottom: 40px;
        }

        hr{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            height: 2px;
            color: $sv-color-primary;
        }
    }

    &-show{
        font-family: $sv-font-family-primary-bold;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $sv-color-text-links-light;
    }
}