.sv-executive{
    .container:first-child{
        box-shadow: $sv-shadow;
        background-color: $sv-color-white;
    }


    margin-bottom: 20px;
    
    h2{
        color: $sv-color-primary;
        padding-bottom: 15px;
    }

    h4{
        font-size: 1.8rem;
    }
    
    &-title{
        font-family: $sv-font-family-primary-bold;
        font-size: 1.8rem;
        line-height: 2.2rem;
        text-transform: uppercase;
    }

    &-emergency{
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: $sv-color-primary;
    }

    .item{
        img{
            margin-right: 10px;
        }
    }
}