.sv-content{
    padding-top: 70px;
    padding-bottom: 158px;
    img{
        padding-bottom: 40px;
    }
    h2{
        color: $sv-color-text-links
    }
    span{
        color: $sv-color-primary;
    }
}

// Mobile

@media screen and (max-width: $md) {
    .sv-content{ 
        h2{
            font-size: 2.0rem;
        }
    }
}