.sv-hero{
    height: 720px;

    &-background{
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    &-content{
        padding-right: 88px; 
    }

    &-logo{
        padding-top: 20px;  
        padding-bottom: 133px;
    }

    &-accent{
        color: $sv-color-terciary-light;
        font-family: $sv-font-family-primary;
        text-transform: uppercase;
        font-size: 2.0rem;
        line-height: 2.4rem;
        font-weight: bold;
    }

    b{
        font-family: $sv-font-family-primary-bold;
    }

    

    h1{
        color: $sv-color-white;
        padding-bottom: 24px;
    }


}

// Mobile

@media screen and (max-width: $md) {
    .sv-hero{ 
        height: initial;
        padding-bottom: 50px;

        &-content{
            padding-right: initial;
            padding-bottom: 20px;
        }
    }
}