.sv-login{
    background-color: $sv-color-white;
    padding: 42px;
    box-shadow: $sv-shadow-login;
    border-radius: 8px;

    h2{
        color: $sv-color-primary;
        padding-bottom: 13px;
    }

    h4{
        padding-bottom: 26px;
    }
    

    &-email{
        margin-bottom: 36px;
        background-image: url(../images/home/email.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: 97%;
    }

    &-password{
        margin-bottom: 8px;
        background-image: url(../images/home/password.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: 97%;
    }

    &-forgot-password{
        font-family: $sv-font-family-primary;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 2.0rem;
        color: $sv-color-primary;
    }

    &-buttons{
        padding-top: 50px;
    }

    &-factura{
        padding-top: 37px;
        a{
            font-weight: bold;
            font-size: 1.4rem;
            line-height: 2.0rem;
            color: $sv-color-text-links;
        }
    }
}