.sv-header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 20px;


  &:after {
    background: linear-gradient(
      to right,
      $sv-color-primary 0,
      $sv-color-primary 20%,
      $sv-color-secondary 20%,
      $sv-color-secondary 66%,
      $sv-color-terciary 66%,
      $sv-color-terciary 100%
    );

    position: absolute;
    content: "";
    height: 5px;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .navbar-brand {
    margin-right: 18px;
    padding-top: 30px;
  }
  li {
    padding-right: 19px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: $sv-font-family-primary;
    font-size: 1.6rem;

    a {
      font-family: $sv-font-family-primary;
      font-size: 1.6rem;
    }
  }

  .nav-link {
    color: $sv-color-text-grey;
  }

  .nav-link.active {
    color: $sv-color-primary !important;
  }

  .first-nav{
 
      li{
        font-size: 1.4rem;
        button{
          font-size: 1.4rem;
        }
        a{
          font-size: 1.4rem;
        }
        h5{
          font-size: 1.4rem;
        }
        .contact-executive{
          color: $sv-color-text-grey;
          font-family: $sv-font-family-primary-bold;
          text-underline-offset: 5px;
        }
      }
    
  }

  .second-nav{

  }

  &-company {
    img {
      display: inline-block;
    }

    img.icon {
      vertical-align: bottom;
    }

    .info {
      display: inline-block;

      h5 {
      
        color: $sv-color-text-grey;
      }

      button {
        border: none;
        background-color: transparent;
        text-align: left;
        padding: 0px;
        color: $sv-color-text-grey;

        line-height: 1.5rem;
      }
    }
  }

  &-company.user {
    h5 {
      color: $sv-color-primary;
    }

    button {
      color: $sv-color-primary;
    }
  }

  .dropdown-company {
    height: 274px;
    width: 350px;
    overflow: scroll;
    border: 1px solid $sv-color-primary;
    padding-left: 20px;
    top: 36px;
    left: -123px;

    padding-top: 20px;
    li {
      padding-bottom: 26px;

      a {
        font-size: 1.8rem;
        font-family: $sv-font-family-primary;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }


  .dropdown-user{
    border: 1px solid $sv-color-primary;
    top: 35px;
    left: -151px;
    padding-bottom: 0;

    h2{
        padding-left: 20px;
        font-size: 1.6rem;
        color: $sv-color-primary;
        font-family: $sv-font-family-primary-bold;
        text-transform: uppercase;
        padding-top: 16px;
        padding-bottom: 6px;
    }

    hr{
        color: $sv-color-primary;
        height: 2px;
    }

    li{
        padding-bottom: 20px;
        a {
            font-size: 1.6rem;
            font-family: $sv-font-family-primary;
            font-weight: 500;
            padding-left: 20px;
          }
    }

    .close-session{
        background-color: #8ED5FF;
        color: $sv-color-text-grey;
        padding-top: 10px;
            padding-bottom:10px;
        a{
            margin-bottom: 0px;
            text-decoration: none;
        color: $sv-color-text-grey;

            padding-left: 20px;
            font-size: 1.8rem;
        }
    
        img{
            width: 21px;
            opacity: 0.8;
        }
    }

  }

  .dropdown-toggle::after{
      display: none;
  }
}
 
@media screen and (max-width: $vga) {
  .sv-header{
    .navbar-brand{
      padding-top: initial;
      padding-bottom: 16px;
    }
    .first-nav{
      li{
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    .dropdown-company{
      width: 100%;
      margin-top: 10px;
      padding-left: 6px;
      padding-top: 6px;
      li{
        a{
          font-size: 1.4rem;
        }
      }
    }

    .dropdown-user{
      width: 100%;
   
      h2{
        font-size: 1.4rem;
        padding-bottom: 2px;
        padding-top: 6px;
      }
      li{
        a{
          font-size: 1.4rem;
        }
      }
      .close-session{
        img{
          vertical-align: initial;
          width: 12px;
        }
        a{
          font-size: 1.4rem;
        }
      }
    }
  }
}

